div{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.RED{
    background-color: red;
}

.BLUE{
    background-color: aquamarine;
}

.YELLOW{
    background-color: yellow;
}

.GREEN{
    background-color: green;
}